.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3.6rem;
    background-color: var(--electron-blue);
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar > * {
    text-decoration: none;
}

.navbar__brand {
    font-size: 14pt;
    font-weight: 900;
    color: var(--city-lights);
    text-shadow: var(--shadow-text);
    letter-spacing: 0.24rem;
}

.navbar__login {
    font-size: 12pt;
    padding: .8rem 2rem;
    border-radius: 2.8rem;
    color: var(--dracula-orchid);
    background-color: var(--light-greenish-blue);
    box-shadow: var(--shadow-component);
}