.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome > * {
    color: var(--dracula-orchid);
}

.welcome--brand {
    font-size: 20pt;
}

.welcome--institute {
    font-size: 16pt;
}