<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Sistema Electoral</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="dashboard">
        <aside class="menu">
            <section class="menu__info">
                <span class="menu__info--welcome">Bienvenido</span>
                <span class="menu__info--name">Johan Stiv Garcia Conde Garcia</span>
                <span class="menu__info--role">Estudiante</span>
            </section>
            <section class="menu__permissions">
                <ul class="menu__permissions--list">
                    <li class="menu__permissions--item">

                    </li>
                </ul>
            </section>
            <section class="menu__logout">
                <button class="menu__logout--button">
                    Cerrar sesión
                </button>
            </section>
        </aside>

        <main class="view">

        </main>
    </div>
</body>
</html>