:root {
    --electron-blue: #0984e3;
    --city-lights: #dfe6e9;
    --chi-gong: #d63031;
    --american-river: #636e72;
    --shadow-transparent: rgba(0, 0, 0, 0.5);
    --shadow-text: 0 .8rem .8rem var(--shadow-transparent);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    height: 100vh;
    display: flex;
}

.menu {
    width: 22vw;
    display: grid;
    background-color: var(--electron-blue);
}

.menu__info {
    align-self: start;
    display: flex;
    flex-direction: column;
    padding: 2.8rem 1.8rem;
}

.menu__info > * {
    font-size: 13.5pt;
    color: var(--city-lights);
}

.menu__info--role {
    font-size: 12pt;
    background-color: var(--chi-gong);
    text-align: center;
    margin-top: 1.2rem;
    border-radius: 2rem;
    padding: .8rem;
}

.menu__info--name {
    align-self: center;
}

.menu__logout {
    align-self: end;
    display: flex;
    justify-content: center;
    padding: 2.4rem 1.6rem;
}

.menu__logout--button {
    font-size: 12pt;
    color: var(--city-lights);
    background-color: transparent;
    border: none;
    outline: 0;
}

.menu__logout--button:hover {
    text-shadow: var(--shadow-text);
}

.view {
    flex: 1;
    overflow: auto;
    background-color: var(--city-lights);
}