:root {
    --electron-blue: #0984e3;
    --city-lights: #dfe6e9;
    --chi-gong: #d63031;
    --american-river: #636e72;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.dashboard {
    height: 100vh;
    display: flex;
}

.menu {
    width: 22vw;
    display: flex;
    flex-direction: column;
    background-color: var(--electron-blue);
}

.menu__info {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 1.8rem;
}

.menu__info > * {
    font-size: 13.5pt;
    color: var(--city-lights);
}

.menu__info--role {
    font-size: 12pt;
    background-color: var(--chi-gong);
    text-align: center;
    margin-top: 1.2rem;
    border-radius: 2rem;
    padding: .8rem;
}

.view {
    flex: 1;
    overflow: auto;
    background-color: var(--city-lights);
}