.register {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--city-lights);
}

.register__title {
    display: inline-block;
    font-size: 18pt;
    color: var(--dracula-orchid);
    margin: .8rem;
    text-shadow: var(--shadow-text);
}

.register__button {
    display: inline-block;
    font-size: 14pt;
    font-weight: bold;
    margin: .8rem;
    padding: 1.6rem 2.4rem;
    border-radius: 2.8rem;
    box-shadow: var(--shadow-component);
    color: var(--city-lights);
    background-color: var(--chi-gong);
    text-decoration: none;
}