.navigation {
    width: 22vw;
    position: sticky;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: var(--electron-blue);
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 1.8rem;
}

.profile > * {
    font-size: 13.5pt;
    color: var(--city-lights);
}

.profile--role {
    font-size: 12pt;
    background-color: var(--chi-gong);
    text-align: center;
    margin-top: 1.2rem;
    border-radius:2rem;
    padding: .8rem;
}

.navigation__menu--list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;
}

.navigation__menu--items {
    display: flex;
    align-items: center;
    align-content: center;
}

.navigation__menu--link,
.navigation__menu--active {
    text-decoration: none;
    font-size: 12pt;
    color: var(--city-lights);
}

.navigation__menu--active {
    flex: 1;
}

.navigation__menu--active::before {
    content: '';
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: var(--chi-gong);
    margin-right: .8rem;
}


.navigation__logout {
    align-self: end;
    display: flex;
    justify-content: center;
    padding: 2.4rem 1.6rem;
}

.navigation__logout--button {
    font-size: 12pt;
    color: var(--city-lights);
    text-decoration: none;
}

.navigation__logout--button:hover,
.navigation__menu--link:hover {
    text-shadow: var(--shadow-text);
}