.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    border-radius: 2.3rem;
    background-color: var(--city-lights);
    box-shadow: var(--shadow-component);
}

.form--shadow {
    position: relative;
    padding: 1.6rem;
    border-radius: 2.3rem;
    background-color: var(--soothing-breeze);
    box-shadow: var(--shadow-component);
}

.form__content > *,
.form__brand--legend,
.form__brand {
    font-size: 12pt;
}

.form__content--set,
.form__field {
    flex: 1;
    gap: 1.2rem;
    padding: .8rem 1.6rem;
    border-radius: 2rem;
}

.form__content--set,
.form__field--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__brand {
    color: var(--dracula-orchid);
}

.form__brand--legend {
    padding: 0 .8rem;
}

.form__field {
    display: flex;
    align-items: center;
    background-color: var(--green-darner-tail);
}

.form__field--container {
    gap: .4rem;
}

.form__field--container > * {
    cursor: pointer;
}

.form__field--input {
    flex: 1;
    display: inline-block;
    border-color: transparent;
    outline: 0;
    color: var(--dracula-orchid);
    background-color: transparent;
    caret-color: var(--dracula-orchid);
}

.form__field--input:-webkit-autofill,
.form__field--input:-webkit-autofill:hover,
.form__field--input:-webkit-autofill:focus {
    transition: all 0s 50000s;
}

.form__field--btn {
    border-color: transparent;
    background-color: transparent;
}

.form__btn {
    padding: .8rem;
    border-radius: 2rem;
    font-size: 12pt;
    cursor: pointer;
}

.form__btn--primary {
    color: var(--city-lights);
    background-color: var(--dracula-orchid);
}