:root {
    --light-greenish-blue: #55efc4;
    --green-darner-tail: #74b9ff;
    --electron-blue: #0984e3;
    --city-lights: #dfe6e9;
    --soothing-breeze: #b2bec3;
    --chi-gong: #d63031;
    --american-river: #636e72;
    --dracula-orchid: #2d3436;
    --shadow-transparent: rgba(0, 0, 0, 0.5);
    --shadow-text: 0 .8rem .8rem var(--shadow-transparent);
    --shadow-component: 0 .4rem .4rem var(--shadow-transparent);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--american-river);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--city-lights);
}

.toast {
    font: 12pt Ubuntu;
    color: var(--dracula-orchid);
    background-color: var(--soothing-breeze);
}

.hidden {
    display: none !important;
}